﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Movie Title Search / Display Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        <script src="/Scripts/jquery-1.7.1.min.js"></script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">Movie Title Search / Display Application</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">

            <section class="featured">
                <div class="content-wrapper">
                    <hgroup class="title">
                        <h1>Search</h1>
                    </hgroup>
                    <p>
                        Enter a Movie Title you would like to search for:
                        <br />
                        <form method="GET" action="/Home/">
                            <input name="titleQuery" type="text" /><input type="submit" value="search"/>
                        </form>
                    </p>
                </div>
            </section>

            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>

        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Movie Title Search/Display Application  @Request.QueryString["testVar"] </p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
