﻿@model List<TurnerTest_MVC4_01112014.Models.Title>
@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>


    @if (Model.Count > 0){


        <table class="resultsTable">
            <tr>
                <th class="resultsTableTitleColumn">
                    Title Name
                </th>
                <th class="resultsTableYearColumn">
                    Release Year
                </th>
                <th>
                </th>
            </tr>
        
        
            @foreach (TurnerTest_MVC4_01112014.Models.Title objTitleData in Model)
                {
                    <tr class="resultsTableTr">
                        <td class="resultsTableTitleColumn">
                            @objTitleData.TitleName
                        </td>
                        <td class="resultsTableYearColumn">
                            @objTitleData.ReleaseYear.ToString()
                        </td>
                        <td>
                            <a href="/Home/Detail?intTitleID=@objTitleData.TitleId">detail</a>
                        </td>
                    </tr>
                }

            </table>
    
        
        
    }

    else {
        <h3>
            Sorry, there were no results for '@Request.QueryString["titleQuery"]'.
            <br /><br />
            Please try again.
        </h3>
    }

