﻿@model TurnerTest_MVC4_01112014.Models.Title


<script src="/Scripts/details.js"></script>






<h2>@Model.TitleName (@Model.ReleaseYear)</h2>






<table class="resultsTable">

    <tr>
        <td>Genre(s):
        </td>
        <td>
            <div class="Genres">No Genres currently listed for this Title.</div>
        </td>
    </tr>


    <tr>
        <td>Participants:
        </td>
        <td>
            <div class="Participants">No Participants currently listed for this Title.</div>
        </td>
    </tr>

    <tr>
        <td>Awards:
        </td>
        <td>
            <div class="Awards">No Awards currently listed for this Title.</div>
        </td>
    </tr>

    <tr>
        <td>Storylines:
        </td>
        <td>
            <div class="Storylines">No Storylines currently listed for this Title.</div>
        </td>
    </tr>

</table>





<script language="javascript">

    $().ready(function () {
        detailScript(@Model.TitleId);
    });

</script>






